<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Faça sua boa ação do dia!</h2>
                <p>O Me Empresta será sempre melhorado através de você através de uma boa ação!</p>
                <div class="badges">
                    <a style="color:black" class="btn btn-outline btn-xl page-scroll" href="#why">Eu irei ajudar</a>
                    <a class="btn btn-outline btn-xl page-scroll" href="#portfolio">Sou egoista!</a>
                </div>
            </div>
        </div>
    </div>
</section>
